########################   C E N T O S  -  C O N F   #########################
# Use single quotes instead of double to work with special-character passwords

# VuFind2 install path in the guest machine
VUFIND2_PATH='/usr/local/vufind2'

# installations
INSTALL_VUFIND2=true               # NDL-VuFind2
INSTALL_SOLR=true                  # Solr
INSTALL_RECMAN=true                # RecordManager
  INSTALL_GEOS=false               # Geocoding (only with RecordManager)

# VuFind2 GitHub config
GITHUB_USER='NatLibFi'
VUFIND2_GIT='https://github.com/'"$GITHUB_USER"'/NDL-VuFind2.git'
VUFIND2_BRANCH='dev'               # used to be 'master'

# MySQL/MariaDB
SQL_ROOT_PW='root-10CHAR'          # min 10 chars + needs num/upper/special
DATABASE='vufind2'
SQL_USER='vufind'
SQL_USER_PW='vufind-8CHAR'         # min 8 chars + needs num/upper/special

# external index URL if not installing Solr + RecordManager locally.
EXTERNAL_SOLR_URL=''

# PHP config
# see: https://rpms.remirepo.net for working remirepo mirrors
REMI_MIRROR='https://mirror.23m.com/remi'
# PHP version, see: https://rpms.remirepo.net/enterprise/8/
REMI_PHP_VERSION=8.1               # 8.1 = PHP8.1 etc.
PHP_MEMORY_LIMIT=128M              # default 128M
# Composer
COMPOSER_VERSION=2                 # v2 is now suitable for all used plugins

# VuFind2 datasources
DATASOURCE_FI_URL='https://www.finna-pre.fi/fi-datasources.ini'
DATASOURCE_SV_URL='https://www.finna-pre.fi/sv-datasources.ini'
DATASOURCE_EN_URL='https://www.finna-pre.fi/en-gb-datasources.ini'

# Organisation info
DEFAULT_ORGANISATION=''
CONSORTIUM_INFO=false

# node & less config
# see: https://github.com/nodesource/distributions/tree/master/deb
NODE_VERSION=16
LESS_VERSION=3.13.1                # version to install via npm
LESS_CLEAN_CSS_OPTIONS='--s0 --advanced --compatibility=ie8'
LESS_RUN=true                      # run lessc while provisioning

# Solr config                      # You will also need RecordManager!
# Separately installing one without the other is only useful for debugging
SOLR_PATH='/data/solr'
# Solr Admin allowed IPs, see: https://solr.apache.org/guide/solr/latest/deployment-guide/securing-solr.html
SOLR_JETTY_HOST='0.0.0.0'          # 0.0.0.0 allows all
# Java version, see: https://adoptopenjdk.net/releases.html
JAVA_VERSION=11                    # OpenJDK: min 11, 17 works but is slower
JAVA_HEAP_MIN='256m'               # bare minimum, increase when needed
JAVA_HEAP_MAX='512m'               # bare minimum, increase when needed
JAVA_SET_SHMMAX_OPENFILES=false    # try true if shared mem problem in Sorl log 
# see: https://www.oracle.com/java/technologies/javase/largememory-pages.html
    JAVA_SHMMAX=2147483648         # 2G mem: 2147483647, 4G mem: 4294967295
# see: https://docs.revenera.com/fnci6132/Content/helplibrary/Setting_the_Open_File_Limit__Linux_Unix_.html
    JAVA_OPENFILES_LiMIT=65536
# Solr GitHub config
SOLR_GIT='https://github.com/NatLibFi/finna-solr.git'
SOLR_BRANCH='dev'                  # used to be 'master'

# RecordManager config
RECMAN_PATH='/usr/local/RecordManager-Finna'
# MongoDB
# https://repo.mongodb.org/yum/redhat/7/mongodb-org/
MONGODB_VERSION=6.0
RECMAN_IMPORT=true
RECMAN_SOURCE='sample'             # if 'sample', the next two default to: 
RECMAN_DATASOURCE=''               # /vagrant/data/sample_datasources.ini
RECMAN_DATA=''                     # /vagrant/data/sample_data.xml
# RecordManager GithHub config
RECMAN_GIT='https://github.com/NatLibFi/RecordManager-Finna.git'
RECMAN_BRANCH='dev'                # used to be 'master'

# timezone
TIMEZONE='Europe/Helsinki'

###############################################################################
