########################   C E N T O S  -  C O N F   #########################
# Use single quotes instead of double to work with special-character passwords

# VuFind2 install path in the guest machine
VUFIND2_PATH='/usr/local/vufind2'

# installations
INSTALL_VUFIND2=true               # NDL-VuFind2
INSTALL_ORACLE_CLIENT=true         # Oracle PHP OCI Instant Client (Voyager)
INSTALL_SOLR=true                  # Solr
INSTALL_RECMAN=true                # RecordManager
  INSTALL_GEOS=false                # Geocoding (only with RecordManager)

# VuFind2 GitHub config
GITHUB_USER='NatLibFi'
VUFIND2_GIT='https://github.com/'"$GITHUB_USER"'/NDL-VuFind2.git'
VUFIND2_BRANCH='master'            # often 'master'

# MySQL/MariaDB
PASSWORD='root' # change this to your liking
DATABASE='vufind2'
SQL_USER='vufind'
SQL_USER_PW='vufind'

# external index URL if not installing Solr + RecordManager locally.
EXTERNAL_SOLR_URL=''

# PHP config
PHP_MEMORY_LIMIT=128M              # default 128M

# node & less config
NODE_VERSION=10                    # https://github.com/nodesource/distributions/tree/master/deb
LESS_VERSION=2.7.1                 # version to install via npm
LESS_CLEAN_CSS_OPTIONS='--s0 --advanced --compatibility=ie8'
LESS_RUN=true                      # run lessc while provisioning

# Oracle config                    # Make sure you have the installer RPM files
ORACLE_PATH='/vagrant/oracle'      # downloaded here from Oracle Downloads.
CONFIG_PATH='/vagrant/oracle'      # Voyager config files.
# version info
OCI_VERSION='12.2'
# versions above 12.2 need a new config file to be created
OCI_CONFIG_URL='https://pastebin.com/raw/LMk7eGCH'  # LMk7eGCH <= v12.2, 20T49aHg <= v12.1

# Solr config                      # You will also need RecordManager!
SOLR_PATH='/data/solr'             # Separately installing one without the other
JAVA_HEAP_MIN='256m'               # is only useful for debugging the install
JAVA_HEAP_MAX='512m'               # process if errors arise.
# Solr GitHub config
SOLR_GIT='https://github.com/NatLibFi/finna-solr.git'
SOLR_BRANCH='master'               # often 'master'

# RecordManager config
RECMAN_PATH='/usr/local/RecordManager'
RECMAN_IMPORT=true
RECMAN_SOURCE='sample'             # if 'sample', the next two default to: 
RECMAN_DATASOURCE=''               # /vagrant/data/sample_datasources.ini
RECMAN_DATA=''                     # /vagrant/data/sample_data.xml
# RecordManager GithHub config
RECMAN_GIT='https://github.com/NatLibFi/RecordManager.git'
RECMAN_BRANCH='master'             # often 'master'

# timezone
TIMEZONE='Europe/Helsinki'

###############################################################################
