#############################  D E V  -  C O N F  #############################
# Use single quotes instead of double to work with special-character passwords

# VuFind2 mount path/point of the guest machine's shared folder
VUFIND2_MOUNT='/vufind2'

# installations
INSTALL_VUFIND2=true               # NDL-VuFind2
INSTALL_SOLR=true                  # Solr
INSTALL_RECMAN=true                # RecordManager
  INSTALL_GEOS=false               # Geocoding (use with RecordManager)
                                   # if not working try with PHP_VERSION='8.1'
INSTALL_IMGSERVICE=false           # FinnaImageService

# MySQL
PASSWORD='root'                    # change this to your liking
DATABASE='vufind2'
SQL_USER='vufind'
SQL_USER_PW='vufind'

# external index URL if not installing Solr + RecordManager locally.
EXTERNAL_SOLR_URL=''

# PHP config
PHP_VERSION=''                     # use '' for system default
PHP_MEMORY_LIMIT=128M              # default 128M
# Composer
COMPOSER_VERSION=2                 # v2 is now suitable for all used plugins

# VuFind2 cache
LOCAL_CACHE_CLEAR=false            # clear files from /local/cache/ folders
RSYNC=false                        # only set to 'true' when rsyncing with QEMU

# VuFind2 datasources
DATASOURCES=( fi sv en-gb se )        # supported datasource language codes
DATASOURCES_URL='https://www.finna-pre.fi'

# Organisation info
DEFAULT_ORG=''
CONSORTIUM_INFO=false

# environment for due date reminder and scheduled alert tests
# use 127.0.0.1 instead of localhost in URL and add needed config changes
EMAIL_TEST_ENV=false

# node & less config
# see: https://github.com/nodesource/distributions/tree/master/
NODE_VERSION=20
SCSS_BUILD=false                   # build SCSS files while provisioning
PHING_VARS='$1'                    # add $2 $3 etc. if needed

# Solr config                      # You will also need RecordManager!
# Separately installing one without the other is only useful for debugging
SOLR_PATH='/data/solr'
# Solr Admin allowed IPs, see: https://solr.apache.org/guide/solr/latest/deployment-guide/securing-solr.html
SOLR_JETTY_HOST='0.0.0.0'          # 0.0.0.0 allows all
# Java version, see: https://adoptopenjdk.net/releases.html
JAVA_VERSION=11                    # OpenJDK: min 11, 17 works but is slower
JAVA_HEAP_MIN='256m'               # bare minimum, increase when needed
JAVA_HEAP_MAX='512m'               # bare minimum, increase when needed
JAVA_SET_SHMMAX_OPENFILES=false    # try true if shared mem problem in Solr log 
# see: https://www.oracle.com/java/technologies/javase/largememory-pages.html
    JAVA_SHMMAX=2147483648         # 2G mem: 2147483647, 4G mem: 4294967295
# see: https://docs.revenera.com/fnci6132/Content/helplibrary/Setting_the_Open_File_Limit__Linux_Unix_.html
    JAVA_OPENFILES_LIMIT=65536
# Solr GitHub config
SOLR_GIT='https://github.com/NatLibFi/finna-solr.git'
SOLR_BRANCH='dev'                  # used to be 'master'

# RecordManager config
# true: use files in host, false: install RM inside guest
RECMAN_DEV=false
# RecordManager mount path/point of the host shared folder if RECMAN_DEV=true
RECMAN_MOUNT='/recordmanager'
# RecordManafer install path in the guest file system if RECMAN_DEV=false
RECMAN_PATH='/usr/local/RecordManager'
# MongoDB
MONGODB_VERSION=6.0                # http://repo.mongodb.org/apt/ubuntu/dists/
MONGODB_PHP_DRIVER=1.21.0          # https://github.com/mongodb/mongo-php-driver/releases
# RecordManaget dataset
RECMAN_IMPORT=true
RECMAN_SOURCE='sample'             # if 'sample', the next two default to: 
RECMAN_DATASOURCE=''               # /vagrant/data/sample_datasources.ini
RECMAN_DATA=''                     # /vagrant/data/sample_data.xml
# RecordManager GitHub config if RECMAN_DEV=false
RECMAN_GIT='https://github.com/NatLibFi/RecordManager-Finna.git'
RECMAN_BRANCH='dev'                # used to be 'master'

# GEOS config
# https://packages.ubuntu.com/search?keywords=libgeos&searchon=names
LIBGEOS_VERSION=3.10.2

# IMGSERVICE config
# https://github.com/NatLibFi/FinnaImageService
IMGSERVICE_PATH='/usr/local/FinnaImageService'
IMGSERVICE_GIT='https://github.com/NatLibFi/FinnaImageService.git'
IMGSERVICE_BRANCH='master'

# timezone
TIMEZONE='Europe/Helsinki'

###############################################################################
