#########################   U B U N T U  -  C O N F   #########################
# Use single quotes instead of double to work with special-character passwords

# VuFind2 'install path' ie. mount path/point of the host's shared folder
VUFIND2_PATH='/vufind2'

# installations
INSTALL_VUFIND2=true               # NDL-VuFind2
INSTALL_ORACLE_CLIENT=true         # Oracle PHP OCI Instant Client (Voyager)
INSTALL_SOLR=true                  # Solr
INSTALL_RECMAN=true                # RecordManager
  INSTALL_GEOS=false                # Geocoding (only with RecordManager)

# dev tools
INSTALL_SIZZY=false
SIZZY_DOCKER='detroitenglish/docker-sizzy:latest'
# See: http://sizzy.co & https://hub.docker.com/r/detroitenglish/docker-sizzy/
# Use: http://localhost:3033/?url=localhost:8081/vufind2

# MySQL
PASSWORD='root' # change this to your liking
DATABASE='vufind2'
USER='vufind'
USER_PW='vufind'

# external index URL if not installing Solr + RecordManager locally.
EXTERNAL_SOLR_URL=''

# Oracle config                    # Make sure you have the installer ZIP files
ORACLE_PATH='/vagrant/oracle'      # downloaded here from Oracle Downloads.
CONFIG_PATH='/vagrant/oracle'      # Voyager config files location.
# version info
OCI_VERSION='12_1'
OCI_DOT_VERSION='12.1'
# versions above 12.1 need a new config file to be created
OCI_CONFIG_URL='http://pastebin.com/raw/20T49aHg'  # 20T49aHg <= v12.1

# Solr config                      # You will also need RecordManager!
SOLR_PATH='/data/solr'             # Separately installing one without the other
JAVA_HEAP_MIN='256m'               # is only useful for debugging the install
JAVA_HEAP_MAX='512m'               # process if errors arise.
# Solr GitHub config
SOLR_GIT='https://github.com/NatLibFi/finna-solr.git'
SOLR_BRANCH='master'               # often 'master'

# RecordManager config
RECMAN_PATH='/usr/local/RecordManager'
RECMAN_IMPORT=true
RECMAN_SOURCE='sample'             # if 'sample', the next two default to: 
RECMAN_DATASOURCE=''               # /vagrant/data/sample_datasources.ini
RECMAN_DATA=''                     # /vagrant/data/sample_data.xml
# RecordManager GithHub config
RECMAN_GIT='https://github.com/NatLibFi/RecordManager.git'
RECMAN_BRANCH='master'             # often 'master'

# timezone
TIMEZONE='Europe/Helsinki'

###############################################################################
