#########################   U B U N T U  -  C O N F   #########################
# Use single quotes instead of double to work with special-character passwords

# VuFind2 mount path/point of the guest machine's shared folder
VUFIND2_MOUNT='/vufind2'

# installations
INSTALL_VUFIND2=true               # NDL-VuFind2
INSTALL_SOLR=true                  # Solr
INSTALL_RECMAN=true                # RecordManager
  INSTALL_GEOS=false                # Geocoding (use with RecordManager)
                                    # installs only when PHP_VERSION='7.4'
INSTALL_IMGSERVICE=false            # FinnaImageService

# MySQL
PASSWORD='root'                    # change this to your liking
DATABASE='vufind2'
SQL_USER='vufind'
SQL_USER_PW='vufind'

# external index URL if not installing Solr + RecordManager locally.
EXTERNAL_SOLR_URL=''

# PHP config
PHP_VERSION=''                     # use '' for system default, 80 = 8.0 etc.
PHP_MEMORY_LIMIT=128M              # default 128M
# Composer
COMPOSER_VERSION=2                 # v2 is now suitable for all used plugins

# VuFind2 cache
LOCAL_CACHE_CLEAR=false            # clear files from /local/cache/ folders

# VuFind2 datasources
DATASOURCE_FI_URL='https://www.finna-pre.fi/fi-datasources.ini'
DATASOURCE_SV_URL='https://www.finna-pre.fi/sv-datasources.ini'
DATASOURCE_EN_URL='https://www.finna-pre.fi/en-gb-datasources.ini'

# Organisation info
DEFAULT_ORG=''
CONSORTIUM_INFO=false

# environment for due date reminder and scheduled alert tests
# use 127.0.0.1 instead of localhost in url and add needed config changes
EMAIL_TEST_ENV=false

# node & less config
# see: https://github.com/nodesource/distributions/tree/master/deb
NODE_VERSION=16
ESLINT_VERSION=4                   # eslint version to install via npm
LESS_VERSION=3.13.1                # less version to install via npm
LESS_CLEAN_CSS_OPTIONS='--s0 --advanced --compatibility=ie8'
LESS_RUN=true                      # run lessc while provisioning

# Solr config                      # You will also need RecordManager!
SOLR_PATH='/data/solr'             # Separately installing one without the other
JAVA_HEAP_MIN='256m'               # is only useful for debugging the install
JAVA_HEAP_MAX='512m'               # process if errors arise.
# see: https://adoptopenjdk.net/releases.html
JAVA_VERSION=11                    # OpenJDK
# Solr GitHub config
SOLR_GIT='https://github.com/NatLibFi/finna-solr.git'
SOLR_BRANCH='dev'                  # used to be 'master'

# RecordManager config
# true: use files in host, false: install RM inside guest
RECMAN_DEV=false
# RecordManager mount path/point of the host shared folder if RECMAN_DEV=true
RECMAN_MOUNT='/recordmanager'
# RecordManafer install path in the guest file system if RECMAN_DEV=false
RECMAN_PATH='/usr/local/RecordManager'
# MongoDB
MONGODB_VERSION=6.0                # http://repo.mongodb.org/apt/ubuntu/dists/
# RecordManaget dataset
RECMAN_IMPORT=true
RECMAN_SOURCE='sample'             # if 'sample', the next two default to: 
RECMAN_DATASOURCE=''               # /vagrant/data/sample_datasources.ini
RECMAN_DATA=''                     # /vagrant/data/sample_data.xml
# RecordManager GitHub config if RECMAN_DEV=false
RECMAN_GIT='https://github.com/NatLibFi/RecordManager-Finna.git'
RECMAN_BRANCH='dev'                # used to be 'master'

# GEOS config
# https://packages.ubuntu.com/search?keywords=libgeos&searchon=names
LIBGEOS_VERSION=3.8.0

# IMGSERVICE config
# https://github.com/NatLibFi/FinnaImageService
IMGSERVICE_PATH='/usr/local/FinnaImageService'
IMGSERVICE_GIT='https://github.com/NatLibFi/FinnaImageService.git'
IMGSERVICE_BRANCH='master'

# timezone
TIMEZONE='Europe/Helsinki'

###############################################################################
