module VagrantConf 

  # relative path to the cloned directory of NDL-VuFind2 files from Github
  VufindPath = '../NDL-VuFind2'

  # Make this match the VUFIND2_PATH in ubuntu.conf
  MountPath = '/vufind2'

  # relative path to the cloned directory of RecordManager-Finna from Github
  RMPath = '../RecordManager-Finna'
  
  # relative path to the cloned directory of finna-ui-components from Github
  UICPath = '../finna-ui-components'
  
  if Dir.exists?(RMPath)
    # Make this match the RECMAN_MOUNT in ubuntu.conf
    RMMountPath = '/recordmanager'
  end
  if Dir.exists?(UICPath)
    UICMountPath = '/finna-ui-components'
  end
  
  # Enable NFS for synced folders on macOS
  # default: false
  EnableNFS = false

  # Ubuntu Vagrant box. See https://app.vagrantup.com/ubuntu/boxes/jammy64
  # An example to use instead if you repackage a local custom base box:
  # UbuntuBox = 'ubuntu_vufind2 file:./ubuntu_vufind2.box'
  #
  # VM Provider other than 'virtualbox' use:
  # UbuntuBox = 'mrlesmithjr/jammy64'
  #
  # ARM CPU try:
  # UbuntuBox = 'spox/ubuntu-arm'
  # or
  # UbuntuBox = 'bytesguy/ubuntu-server-20.04-arm64'
  UbuntuBox = 'ubuntu/jammy64'
  
  # CentOS Vagrant box. https://app.vagrantup.com/centos/boxes/7
  # An example to use instead if you repackage a local custom base box 
  # CentosBox = 'centos_vufind2 file:./centos_vufind2.box'
  CentosBox = 'almalinux/8'
  
  # Provider for virtual machine: virtualbox | hyperv | vmware_desktop
  # for 'hyperv', see:
  # https://www.vagrantup.com/docs/providers/hyperv
  # for 'vmware_desktop', see:
  # https://www.vagrantup.com/docs/providers/vmware/installation
  # default: virtualbox
  VMProvider = 'virtualbox'

  # Show VirtualBox GUI when booting the virtual machine
  # default: false
  VMProviderGUI = false

  # Check for VirtualBox Guest additions
  # default: false
  CheckGuestAdditions = false

  # The amount of memory in megabytes used by each virtual machine
  # default: 2048
  VirtualMemory = '2048'

  # The amount of virtual CPUs
  # default: 1
  VirtualCPUs = 1

end
