module VagrantConf 

  ## Host Machine settings

  # Relative path to the cloned directory of NDL-VuFind2 files from Github
  VufindPath = '../NDL-VuFind2'
  # Make this match the VUFIND2_PATH in dev.conf
  MountPath = '/vufind2'

  # relative path to the cloned directory of RecordManager-Finna from Github
  RMPath = '../RecordManager-Finna'
  # Make this match the RECMAN_MOUNT in dev.conf
  RMMountPath = '/recordmanager'
  
  # relative path to the cloned directory of finna-ui-components from Github
  UICPath = '../finna-ui-components'
  UICMountPath = '/finna-ui-components'

  ## Virtual Machine settings

  # The amount of memory in megabytes used by each virtual machine
  # default: 2048
  VirtualMemory = '2048'

  # The amount of virtual CPUs
  # default: 1
  VirtualCPUs = 1

  # Enable NFS for synced folders on macOS
  # default: false
  EnableNFS = false

    # Guest IP when NFS enabled
    # default: 192.168.0.2
    NFSIP = '192.168.0.2'

    # NFS version. You can try version 4 with Linux
    # default: 3
    NFSVersion = 3

    # UDP transport
    # default: false
    NFSUDP = false

  # Provider for virtual machine: virtualbox | qemu | libvirt | hyperv 
  # hyperv is untested, but SMBv1 needs to be enabled in Windows
  # default: virtualbox
  VMProvider = 'hyperv'
    
  # Dev Vagrant box.
  # See https://app.vagrantup.com/ubuntu and https://app.vagrantup.com/search 
  # 
  # An example to use instead if you repackage a local custom base box:
  # DevBox = 'dev_vufind2 file:./dev_vufind2.box'
  #
  # When VMProvider is 'virtualbox':
  DevBox = 'ubuntu/jammy64'
  # When VMProvider is other than 'virtualbox' or 'hyperv'
  DevBoxAlt = 'generic-x64/ubuntu2204'
  # When VMPRovider is 'qemu' and QemuHostCPU is 'arm'
  DevBoxARM = 'perk/ubuntu-2204-arm64'
  # When VMPRovider is 'hyperv'
  DevBoxHV = 'sture/ubuntu2204'

  # Server Vagrant box. See https://app.vagrantup.com/rockylinux
  #
  # An example to use instead if you repackage a local custom base box 
  # ServerBox = 'server_vufind2 file:./server_vufind2.box'
  #
  ServerBox = 'rockylinux/9'

  # VirtualBox specific settings
      # Show VirtualBox GUI when booting the virtual machine
      # default: false
      VMProviderGUI = false

      # Check for VirtualBox Guest additions
      # default: false
      CheckGuestAdditions = false

  # QEmu specific settings
      # Apple CPU Architecture, 'intel' or 'arm'
      # default: intel
      QemuHostCPU = 'arm'
      
      # Folder sharing, 'smb' or 'rsync'
      # smb: will ask user permissions for sharing, if not working try rsync
      # rsync: 'vagrant rsync-auto' should be run after provisioning done
      # default: smb
      QemuSharing = 'smb'

      # Common settings
      QemuSSHPort = '50022'
      QemuCPU = 'host'
      QemuSmpArgs = '2'

      # Apple/Intel settings
      QemuArchIntel = 'x86_64'
      QemuMachineIntel = 'q35,accel=hvf'
      QemuNetDeviceIntel = 'virtio-net-pci'
      QemuDirIntel = '/usr/local/share/qemu'

      # Apple/ARM settings
      QemuArchARM = 'aarch64'
      QemuMachineARM = 'virt,accel=hvf,highmem=on'
      QemuNetDeviceARM = 'virtio-net-device'
      QemuDirARM = '/opt/homebrew/share/qemu'

  # Hyper-V specific settings
      # Folder sharing, 'smb' or 'rsync'
      # smb: SMBv1 needs to be enabled in Windows
      # default: rsync
      HVSharing = 'rsync'
      # nested virtualization
      HVVirtExt = 'true'
      # speed up virtual hard drive
      HVLinkedClone = 'true'

end
